/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    
  }
  
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del encabezado */
  header {
    /*background-color: #f8e7dc;*/
    padding: 20px;
  }
  
  header h1 {
    color: #ba3535;
    font-size: 32px;
    margin: 0;
  }

  .estrellas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }
  
  .estrella {
    position: absolute;
    top: calc(100% + 100px);
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #fff;
    opacity: 0.8;
    pointer-events: none;
    animation: estrellaAnimacion 10s infinite linear;
  }
  
  @keyframes estrellaAnimacion {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-200vh);
    }
  }
  
  
  /* Estilos de la galería */
  .galeria {
    /*background-color: #fff4ee;*/
    padding: 20px;
  }
  
  .galeria h2 {
    color: #ba3535;
    font-size: 24px;
    margin-top: 0;
  }
  
  .imagen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Opcional: Ajusta la alineación horizontal de las imágenes */
  }
  
  .imagen img {
    flex: 0 0 calc(33.33% - 10px); /* Ajusta el ancho de las imágenes según el número de imágenes en la galería */
    margin-bottom: 10px; /* Opcional: Espacio entre las imágenes */
  }
  
  
  .imagen img {
    width: 100%;
    height: auto;
  }

  .imagen img {
    width: 100%;
    height: 100%;
    max-width: 300px; /* Ajusta el tamaño según tus preferencias */
  }

  .imagen img {
    /* ... */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .imagen img:hover {
    transform: scale(1.05);
  }
  
  
  
  /* Estilos de los mensajes */
  .mensajes {
    background-color: #f8e7dc;
    padding: 20px;
  }
  
  .mensajes h2 {
    color: #ba3535;
    font-size: 24px;
    margin-top: 0;
  }
  
  .mensaje {
    padding: 10px;
    background-color: #fff4ee;
    margin-bottom: 10px;
  }

  .whatsapp-message {
    background-color: #dcf8c6;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    max-width: 80%;
  }
  
  .message-content {
    margin-bottom: 5px;
  }
  
  .message-sender {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .message-timestamp {
    font-size: 12px;
    color: #555;
  }

  #comentarios-container {
    margin-top: 50px;
  }
  
  #comentarios-form input,
  #comentarios-form textarea {
    display: block;
    width: 50%;
    margin-bottom: 10px;
  }
  
  .comentario {
    margin-bottom: 10px;
  }
  
  .comentario p {
    margin: 0;
  }
  
  
  /* Estilos del pie de página */
  footer {
    background-color: #ba3535;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  